html {
  font-family: "Noto Sans KR", sans-serif;
}
body {
  margin: 0;
}
div,
section,
header,
footer,
p,
h1,
h2 {
  box-sizing: border-box;
}
a {
  color: royalblue;
}
img {
  max-width: 100%;
  height: auto;
}

.global-width {
  width: 80vw;
  margin: 0px auto;
}

.scroll-graphic {
  position: sticky;
  top: 0px;
  height: 100vh;
  width: 100vw;
}

.graphic-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.showing {
  opacity: 1;
}

.scene-img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.scroll-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 55vh;
  width: 40vw;
}
